<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.m1c.yhy.shop.dao.OrderDao" >
    <resultMap id="BaseResultMap" type="cn.m1c.yhy.shop.model.Order" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="deleted" property="deleted" jdbcType="BIT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="wechat" property="wechat" jdbcType="VARCHAR" />
        <result column="wechat_nickname" property="wechatNickname" jdbcType="VARCHAR" />
        <result column="deal_price" property="dealPrice" jdbcType="DECIMAL" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="end_dated" property="endDated" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="convert" property="convert" jdbcType="VARCHAR" />
        <result column="convert_dated" property="convertDated" jdbcType="TIMESTAMP" />
        <result column="convert_id" property="convertId" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, created, updated, deleted, name, order_no, phone, wechat, wechat_nickname, deal_price, 
        count, type, status, end_dated, remark, store_id, user_id, convert, convert_dated, 
        convert_id
    </sql>
    <sql id="Find_Where" >
        <where >
            <if test="created != null and created !='' " >
                 AND created = #{created,jdbcType=TIMESTAMP}
            </if>
            <if test="begDate != null and begDate !='' " >
            	<![CDATA[AND created >= #{created,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="endDate != null and endDate !='' " >
                 <![CDATA[AND created <= #{created,jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="updated != null and updated !='' " >
                 AND updated = #{updated,jdbcType=TIMESTAMP}
            </if>
            <if test="deleted != null and deleted !='' " >
                 AND deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="name != null and name !='' " >
                 AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="orderNo != null and orderNo !='' " >
                 AND order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone !='' " >
                 AND phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="wechat != null and wechat !='' " >
                 AND wechat = #{wechat,jdbcType=VARCHAR}
            </if>
            <if test="wechatNickname != null and wechatNickname !='' " >
                 AND wechat_nickname = #{wechatNickname,jdbcType=VARCHAR}
            </if>
            <if test="dealPrice != null and dealPrice !='' " >
                 AND deal_price = #{dealPrice,jdbcType=DECIMAL}
            </if>
            <if test="count != null and count !='' " >
                 AND count = #{count,jdbcType=INTEGER}
            </if>
            <if test="type != null and type !='' " >
                 AND type = #{type,jdbcType=INTEGER}
            </if>
            <if test="status != null and status !='' " >
                 AND status = #{status,jdbcType=INTEGER}
            </if>
            <if test="endDated != null and endDated !='' " >
                 AND end_dated = #{endDated,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null and remark !='' " >
                 AND remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="storeId != null and storeId !='' " >
                 AND store_id = #{storeId,jdbcType=VARCHAR}
            </if>
            <if test="userId != null and userId !='' " >
                 AND user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="convert != null and convert !='' " >
                 AND convert = #{convert,jdbcType=VARCHAR}
            </if>
            <if test="convertDated != null and convertDated !='' " >
                 AND convert_dated = #{convertDated,jdbcType=TIMESTAMP}
            </if>
            <if test="convertId != null and convertId !='' " >
                 AND convert_id = #{convertId,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from shop_order
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from shop_order
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.m1c.yhy.shop.model.Order" >
        insert into shop_order (id, created, updated, 
            deleted, name, order_no, 
            phone, wechat, wechat_nickname, 
            deal_price, count, type, 
            status, end_dated, remark, 
            store_id, user_id, convert, 
            convert_dated, convert_id)
        values (#{id,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
            #{deleted,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
            #{phone,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{wechatNickname,jdbcType=VARCHAR}, 
            #{dealPrice,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
            #{status,jdbcType=INTEGER}, #{endDated,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
            #{storeId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{convert,jdbcType=VARCHAR}, 
            #{convertDated,jdbcType=TIMESTAMP}, #{convertId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="cn.m1c.yhy.shop.model.Order" >
        insert into shop_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="created != null" >
                created,
            </if>
            <if test="updated != null" >
                updated,
            </if>
            <if test="deleted != null" >
                deleted,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="orderNo != null" >
                order_no,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="wechat != null" >
                wechat,
            </if>
            <if test="wechatNickname != null" >
                wechat_nickname,
            </if>
            <if test="dealPrice != null" >
                deal_price,
            </if>
            <if test="count != null" >
                count,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="endDated != null" >
                end_dated,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="convert != null" >
                convert,
            </if>
            <if test="convertDated != null" >
                convert_dated,
            </if>
            <if test="convertId != null" >
                convert_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                #{deleted,jdbcType=BIT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null" >
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null" >
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="wechatNickname != null" >
                #{wechatNickname,jdbcType=VARCHAR},
            </if>
            <if test="dealPrice != null" >
                #{dealPrice,jdbcType=DECIMAL},
            </if>
            <if test="count != null" >
                #{count,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="endDated != null" >
                #{endDated,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="convert != null" >
                #{convert,jdbcType=VARCHAR},
            </if>
            <if test="convertDated != null" >
                #{convertDated,jdbcType=TIMESTAMP},
            </if>
            <if test="convertId != null" >
                #{convertId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.m1c.yhy.shop.model.Order" >
        update shop_order
        <set >
            <if test="created != null" >
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null" >
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null" >
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="wechatNickname != null" >
                wechat_nickname = #{wechatNickname,jdbcType=VARCHAR},
            </if>
            <if test="dealPrice != null" >
                deal_price = #{dealPrice,jdbcType=DECIMAL},
            </if>
            <if test="count != null" >
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="endDated != null" >
                end_dated = #{endDated,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="convert != null" >
                convert = #{convert,jdbcType=VARCHAR},
            </if>
            <if test="convertDated != null" >
                convert_dated = #{convertDated,jdbcType=TIMESTAMP},
            </if>
            <if test="convertId != null" >
                convert_id = #{convertId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.m1c.yhy.shop.model.Order" >
        update shop_order
        set created = #{created,jdbcType=TIMESTAMP},
            updated = #{updated,jdbcType=TIMESTAMP},
            deleted = #{deleted,jdbcType=BIT},
            name = #{name,jdbcType=VARCHAR},
            order_no = #{orderNo,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            wechat = #{wechat,jdbcType=VARCHAR},
            wechat_nickname = #{wechatNickname,jdbcType=VARCHAR},
            deal_price = #{dealPrice,jdbcType=DECIMAL},
            count = #{count,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            end_dated = #{endDated,jdbcType=TIMESTAMP},
            remark = #{remark,jdbcType=VARCHAR},
            store_id = #{storeId,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=VARCHAR},
            convert = #{convert,jdbcType=VARCHAR},
            convert_dated = #{convertDated,jdbcType=TIMESTAMP},
            convert_id = #{convertId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="queryByModel" resultMap="BaseResultMap" parameterType="cn.m1c.yhy.shop.model.Order" >
        select 
        <include refid="Base_Column_List" />
        from shop_order
        <include refid="Find_Where" />
    </select>
    <select id="queryByOrderOrderByCreated" resultMap="BaseResultMap" parameterType="cn.m1c.yhy.shop.model.Order" >
        select 
        <include refid="Base_Column_List" />
        from shop_order
        <include refid="Find_Where" />
        order by created asc 
    </select>
</mapper>