<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.m1c.yhy.shop.dao.SkuDao" >
    <resultMap id="BaseResultMap" type="cn.m1c.yhy.shop.model.Sku" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="deleted" property="deleted" jdbcType="BIT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sku_no" property="skuNo" jdbcType="VARCHAR" />
        <result column="prod_date" property="prodDate" jdbcType="VARCHAR" />
        <result column="prod_price" property="prodPrice" jdbcType="DECIMAL" />
        <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
        <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="beg_count" property="begCount" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="action_name" property="actionName" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="sale_count" property="saleCount" jdbcType="INTEGER" />
        <result column="surplus_count" property="surplusCount" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, created, updated, deleted, name, sku_no, prod_date, prod_price, original_price, 
        sale_price, avatar, beg_count, type, action_name, brand, count, sale_count, surplus_count
    </sql>
    <sql id="Find_Where" >
        <where >
            <if test="created != null and created !='' " >
                 AND created = #{created,jdbcType=TIMESTAMP}
            </if>
            <if test="updated != null and updated !='' " >
                 AND updated = #{updated,jdbcType=TIMESTAMP}
            </if>
            <if test="deleted != null and deleted !='' " >
                 AND deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="name != null and name !='' " >
                 AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="skuNo != null and skuNo !='' " >
                 AND sku_no = #{skuNo,jdbcType=VARCHAR}
            </if>
            <if test="prodDate != null and prodDate !='' " >
                 AND prod_date = #{prodDate,jdbcType=VARCHAR}
            </if>
            <if test="prodPrice != null and prodPrice !='' " >
                 AND prod_price = #{prodPrice,jdbcType=DECIMAL}
            </if>
            <if test="originalPrice != null and originalPrice !='' " >
                 AND original_price = #{originalPrice,jdbcType=DECIMAL}
            </if>
            <if test="salePrice != null and salePrice !='' " >
                 AND sale_price = #{salePrice,jdbcType=DECIMAL}
            </if>
            <if test="avatar != null and avatar !='' " >
                 AND avatar = #{avatar,jdbcType=VARCHAR}
            </if>
            <if test="begCount != null and begCount !='' " >
                 AND beg_count = #{begCount,jdbcType=INTEGER}
            </if>
            <if test="type != null and type !='' " >
                 AND type = #{type,jdbcType=INTEGER}
            </if>
            <if test="actionName != null and actionName !='' " >
                 AND action_name = #{actionName,jdbcType=VARCHAR}
            </if>
            <if test="brand != null and brand !='' " >
                 AND brand = #{brand,jdbcType=VARCHAR}
            </if>
            <if test="count != null and count !='' " >
                 AND count = #{count,jdbcType=INTEGER}
            </if>
            <if test="saleCount != null and saleCount !='' " >
                 AND sale_count = #{saleCount,jdbcType=INTEGER}
            </if>
            <if test="surplusCount != null and surplusCount !='' " >
                 AND surplus_count = #{surplusCount,jdbcType=INTEGER}
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from shop_sku
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from shop_sku
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.m1c.yhy.shop.model.Sku" >
        insert into shop_sku (id, created, updated, 
            deleted, name, sku_no, 
            prod_date, prod_price, original_price, 
            sale_price, avatar, beg_count, 
            type, action_name, brand, 
            count, sale_count, surplus_count
            )
        values (#{id,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, 
            #{deleted,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{skuNo,jdbcType=VARCHAR}, 
            #{prodDate,jdbcType=VARCHAR}, #{prodPrice,jdbcType=DECIMAL}, #{originalPrice,jdbcType=DECIMAL}, 
            #{salePrice,jdbcType=DECIMAL}, #{avatar,jdbcType=VARCHAR}, #{begCount,jdbcType=INTEGER}, 
            #{type,jdbcType=INTEGER}, #{actionName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
            #{count,jdbcType=INTEGER}, #{saleCount,jdbcType=INTEGER}, #{surplusCount,jdbcType=INTEGER}
            )
    </insert>
    <insert id="insertSelective" parameterType="cn.m1c.yhy.shop.model.Sku" >
        insert into shop_sku
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="created != null" >
                created,
            </if>
            <if test="updated != null" >
                updated,
            </if>
            <if test="deleted != null" >
                deleted,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="skuNo != null" >
                sku_no,
            </if>
            <if test="prodDate != null" >
                prod_date,
            </if>
            <if test="prodPrice != null" >
                prod_price,
            </if>
            <if test="originalPrice != null" >
                original_price,
            </if>
            <if test="salePrice != null" >
                sale_price,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="begCount != null" >
                beg_count,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="actionName != null" >
                action_name,
            </if>
            <if test="brand != null" >
                brand,
            </if>
            <if test="count != null" >
                count,
            </if>
            <if test="saleCount != null" >
                sale_count,
            </if>
            <if test="surplusCount != null" >
                surplus_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                #{deleted,jdbcType=BIT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="skuNo != null" >
                #{skuNo,jdbcType=VARCHAR},
            </if>
            <if test="prodDate != null" >
                #{prodDate,jdbcType=VARCHAR},
            </if>
            <if test="prodPrice != null" >
                #{prodPrice,jdbcType=DECIMAL},
            </if>
            <if test="originalPrice != null" >
                #{originalPrice,jdbcType=DECIMAL},
            </if>
            <if test="salePrice != null" >
                #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="avatar != null" >
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="begCount != null" >
                #{begCount,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="actionName != null" >
                #{actionName,jdbcType=VARCHAR},
            </if>
            <if test="brand != null" >
                #{brand,jdbcType=VARCHAR},
            </if>
            <if test="count != null" >
                #{count,jdbcType=INTEGER},
            </if>
            <if test="saleCount != null" >
                #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="surplusCount != null" >
                #{surplusCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.m1c.yhy.shop.model.Sku" >
        update shop_sku
        <set >
            <if test="created != null" >
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="skuNo != null" >
                sku_no = #{skuNo,jdbcType=VARCHAR},
            </if>
            <if test="prodDate != null" >
                prod_date = #{prodDate,jdbcType=VARCHAR},
            </if>
            <if test="prodPrice != null" >
                prod_price = #{prodPrice,jdbcType=DECIMAL},
            </if>
            <if test="originalPrice != null" >
                original_price = #{originalPrice,jdbcType=DECIMAL},
            </if>
            <if test="salePrice != null" >
                sale_price = #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="avatar != null" >
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="begCount != null" >
                beg_count = #{begCount,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="actionName != null" >
                action_name = #{actionName,jdbcType=VARCHAR},
            </if>
            <if test="brand != null" >
                brand = #{brand,jdbcType=VARCHAR},
            </if>
            <if test="count != null" >
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="saleCount != null" >
                sale_count = #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="surplusCount != null" >
                surplus_count = #{surplusCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.m1c.yhy.shop.model.Sku" >
        update shop_sku
        set created = #{created,jdbcType=TIMESTAMP},
            updated = #{updated,jdbcType=TIMESTAMP},
            deleted = #{deleted,jdbcType=BIT},
            name = #{name,jdbcType=VARCHAR},
            sku_no = #{skuNo,jdbcType=VARCHAR},
            prod_date = #{prodDate,jdbcType=VARCHAR},
            prod_price = #{prodPrice,jdbcType=DECIMAL},
            original_price = #{originalPrice,jdbcType=DECIMAL},
            sale_price = #{salePrice,jdbcType=DECIMAL},
            avatar = #{avatar,jdbcType=VARCHAR},
            beg_count = #{begCount,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            action_name = #{actionName,jdbcType=VARCHAR},
            brand = #{brand,jdbcType=VARCHAR},
            count = #{count,jdbcType=INTEGER},
            sale_count = #{saleCount,jdbcType=INTEGER},
            surplus_count = #{surplusCount,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="queryByModel" resultMap="BaseResultMap" parameterType="cn.m1c.yhy.shop.model.Sku" >
        select 
        <include refid="Base_Column_List" />
        from shop_sku
        <include refid="Find_Where" />
    </select>
</mapper>