<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.m1c.yhy.person.dao.UserDao" >
    <resultMap id="BaseResultMap" type="cn.m1c.yhy.person.model.User" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="shot_id" property="shotId" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="deleted" property="deleted" jdbcType="BIT" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="BIT" />
        <result column="integral" property="integral" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
        <result column="weibo_id" property="weiboId" jdbcType="VARCHAR" />
        <result column="weibo_token" property="weiboToken" jdbcType="VARCHAR" />
        <result column="wechat_id" property="wechatId" jdbcType="VARCHAR" />
        <result column="wechat_token" property="wechatToken" jdbcType="VARCHAR" />
        <result column="user_desc" property="userDesc" jdbcType="VARCHAR" />
        <result column="wechat_union_id" property="wechatUnionId" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
        <result column="gifted" property="gifted" jdbcType="BIT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, shot_id, created, updated, deleted, nickname, sex, integral,type, avatar, last_login_time, 
        reg_time, password, email, openid, weibo_id, weibo_token, wechat_id, wechat_token, 
        user_desc, wechat_union_id, phone, invite_code, gifted
    </sql>
    <sql id="Find_Where" >
        <where >
            <if test="shotId != null and shotId !='' " >
                 AND shot_id = #{shotId,jdbcType=VARCHAR}
            </if>
            <if test="created != null and created !='' " >
                 AND created = #{created,jdbcType=TIMESTAMP}
            </if>
            <if test="updated != null and updated !='' " >
                 AND updated = #{updated,jdbcType=TIMESTAMP}
            </if>
            <if test="deleted != null and deleted !='' " >
                 AND deleted = #{deleted,jdbcType=BIT}
            </if>
            <if test="nickname != null and nickname !='' " >
                 AND nickname = #{nickname,jdbcType=VARCHAR}
            </if>
            <if test="sex != null and sex !='' " >
                 AND sex = #{sex,jdbcType=BIT}
            </if>
            <if test="integral != null and integral !='' " >
                 AND integral = #{integral,jdbcType=INTEGER}
            </if>
            <if test="type != null and type !='' " >
                 AND type = #{type,jdbcType=INTEGER}
            </if>
            <if test="avatar != null and avatar !='' " >
                 AND avatar = #{avatar,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginTime != null and lastLoginTime !='' " >
                 AND last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="regTime != null and regTime !='' " >
                 AND reg_time = #{regTime,jdbcType=TIMESTAMP}
            </if>
            <if test="password != null and password !='' " >
                 AND password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email !='' " >
                 AND email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="openid != null and openid !='' " >
                 AND openid = #{openid,jdbcType=VARCHAR}
            </if>
            <if test="weiboId != null and weiboId !='' " >
                 AND weibo_id = #{weiboId,jdbcType=VARCHAR}
            </if>
            <if test="weiboToken != null and weiboToken !='' " >
                 AND weibo_token = #{weiboToken,jdbcType=VARCHAR}
            </if>
            <if test="wechatId != null and wechatId !='' " >
                 AND wechat_id = #{wechatId,jdbcType=VARCHAR}
            </if>
            <if test="wechatToken != null and wechatToken !='' " >
                 AND wechat_token = #{wechatToken,jdbcType=VARCHAR}
            </if>
            <if test="userDesc != null and userDesc !='' " >
                 AND user_desc = #{userDesc,jdbcType=VARCHAR}
            </if>
            <if test="wechatUnionId != null and wechatUnionId !='' " >
                 AND wechat_union_id = #{wechatUnionId,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone !='' " >
                 AND phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="inviteCode != null and inviteCode !='' " >
                 AND invite_code = #{inviteCode,jdbcType=VARCHAR}
            </if>
            <if test="gifted != null and gifted !='' " >
                 AND gifted = #{gifted,jdbcType=BIT}
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from person_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from person_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.m1c.yhy.person.model.User" >
        insert into person_user (id, shot_id, created, 
            updated, deleted, nickname, 
            sex, integral,type, avatar, 
            last_login_time, reg_time, password, 
            email, openid, weibo_id, 
            weibo_token, wechat_id, wechat_token, 
            user_desc, wechat_union_id, phone, 
            invite_code, gifted)
        values (#{id,jdbcType=VARCHAR}, #{shotId,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
            #{updated,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, #{nickname,jdbcType=VARCHAR}, 
            #{sex,jdbcType=BIT}, 
            #{integral,jdbcType=INTEGER},
            #{type,jdbcType=INTEGER},
             #{avatar,jdbcType=VARCHAR}, 
            #{lastLoginTime,jdbcType=TIMESTAMP}, #{regTime,jdbcType=TIMESTAMP}, #{password,jdbcType=VARCHAR}, 
            #{email,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{weiboId,jdbcType=VARCHAR}, 
            #{weiboToken,jdbcType=VARCHAR}, #{wechatId,jdbcType=VARCHAR}, #{wechatToken,jdbcType=VARCHAR}, 
            #{userDesc,jdbcType=VARCHAR}, #{wechatUnionId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
            #{inviteCode,jdbcType=VARCHAR}, #{gifted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="cn.m1c.yhy.person.model.User" >
        insert into person_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="shotId != null" >
                shot_id,
            </if>
            <if test="created != null" >
                created,
            </if>
            <if test="updated != null" >
                updated,
            </if>
            <if test="deleted != null" >
                deleted,
            </if>
            <if test="nickname != null" >
                nickname,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="integral != null" >
                integral,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="lastLoginTime != null" >
                last_login_time,
            </if>
            <if test="regTime != null" >
                reg_time,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="openid != null" >
                openid,
            </if>
            <if test="weiboId != null" >
                weibo_id,
            </if>
            <if test="weiboToken != null" >
                weibo_token,
            </if>
            <if test="wechatId != null" >
                wechat_id,
            </if>
            <if test="wechatToken != null" >
                wechat_token,
            </if>
            <if test="userDesc != null" >
                user_desc,
            </if>
            <if test="wechatUnionId != null" >
                wechat_union_id,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="inviteCode != null" >
                invite_code,
            </if>
            <if test="gifted != null" >
                gifted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="shotId != null" >
                #{shotId,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                #{deleted,jdbcType=BIT},
            </if>
            <if test="nickname != null" >
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=BIT},
            </if>
            <if test="integral != null" >
                #{integral,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="avatar != null" >
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null" >
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="regTime != null" >
                #{regTime,jdbcType=TIMESTAMP},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="openid != null" >
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="weiboId != null" >
                #{weiboId,jdbcType=VARCHAR},
            </if>
            <if test="weiboToken != null" >
                #{weiboToken,jdbcType=VARCHAR},
            </if>
            <if test="wechatId != null" >
                #{wechatId,jdbcType=VARCHAR},
            </if>
            <if test="wechatToken != null" >
                #{wechatToken,jdbcType=VARCHAR},
            </if>
            <if test="userDesc != null" >
                #{userDesc,jdbcType=VARCHAR},
            </if>
            <if test="wechatUnionId != null" >
                #{wechatUnionId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="inviteCode != null" >
                #{inviteCode,jdbcType=VARCHAR},
            </if>
            <if test="gifted != null" >
                #{gifted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.m1c.yhy.person.model.User" >
        update person_user
        <set >
            <if test="shotId != null" >
                shot_id = #{shotId,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null" >
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="nickname != null" >
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=BIT},
            </if>
            <if test="integral != null" >
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="avatar != null" >
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null" >
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="regTime != null" >
                reg_time = #{regTime,jdbcType=TIMESTAMP},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="openid != null" >
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="weiboId != null" >
                weibo_id = #{weiboId,jdbcType=VARCHAR},
            </if>
            <if test="weiboToken != null" >
                weibo_token = #{weiboToken,jdbcType=VARCHAR},
            </if>
            <if test="wechatId != null" >
                wechat_id = #{wechatId,jdbcType=VARCHAR},
            </if>
            <if test="wechatToken != null" >
                wechat_token = #{wechatToken,jdbcType=VARCHAR},
            </if>
            <if test="userDesc != null" >
                user_desc = #{userDesc,jdbcType=VARCHAR},
            </if>
            <if test="wechatUnionId != null" >
                wechat_union_id = #{wechatUnionId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="inviteCode != null" >
                invite_code = #{inviteCode,jdbcType=VARCHAR},
            </if>
            <if test="gifted != null" >
                gifted = #{gifted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.m1c.yhy.person.model.User" >
        update person_user
        set shot_id = #{shotId,jdbcType=VARCHAR},
            created = #{created,jdbcType=TIMESTAMP},
            updated = #{updated,jdbcType=TIMESTAMP},
            deleted = #{deleted,jdbcType=BIT},
            nickname = #{nickname,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=BIT},
            integral = #{integral,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            avatar = #{avatar,jdbcType=VARCHAR},
            last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            reg_time = #{regTime,jdbcType=TIMESTAMP},
            password = #{password,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            openid = #{openid,jdbcType=VARCHAR},
            weibo_id = #{weiboId,jdbcType=VARCHAR},
            weibo_token = #{weiboToken,jdbcType=VARCHAR},
            wechat_id = #{wechatId,jdbcType=VARCHAR},
            wechat_token = #{wechatToken,jdbcType=VARCHAR},
            user_desc = #{userDesc,jdbcType=VARCHAR},
            wechat_union_id = #{wechatUnionId,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            invite_code = #{inviteCode,jdbcType=VARCHAR},
            gifted = #{gifted,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="queryByModel" resultMap="BaseResultMap" parameterType="cn.m1c.yhy.person.model.User" >
        select 
        <include refid="Base_Column_List" />
        from person_user
        <include refid="Find_Where" />
    </select>
</mapper>